<<<<<<< HEAD
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    
}

body{
    font-family: arial;
    color:rgb(43, 43, 43);
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(159, 250, 255);
    
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.switch{
    position: relative;
    width: 100px;
    height: 30px;
    background-color: rgb(67, 179, 245);
    border-radius: 15px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.article {
    background-color: rgba(255, 255, 143, 0.998);
    padding: 20px;
    text-align: center;
}

.icon{
    color :gold;
    position: absolute;
    top :8px;
    left:40px;
    transition: translate 0.5s;
    
}

.btn{
    height:30px;
    width:30px;
    background-color: rgb(209, 206, 207);
    border-radius: 50%;
    position: absolute;
    transition: translate 0.5s;
}

section.darkmode{
    background-color: rgb(27, 38, 37);
}

h1.darkmode{
    color: white;
}

.btn.darkmode{
    translate: 70px;
}

.icon.darkmode{
    translate: 10px;
}

.article.darkmode{
    color:rgb(255, 255, 255);
    background-color: rgb(68, 104, 106);
}

.switch.darkmode{
    background-color: rgb(40, 117, 106);
}
=======
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    
}

body{
    font-family: arial;
    color:rgb(43, 43, 43);
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(159, 250, 255);
    
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.switch{
    position: relative;
    width: 100px;
    height: 30px;
    background-color: rgb(67, 179, 245);
    border-radius: 15px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.article {
    background-color: rgba(255, 255, 143, 0.998);
    padding: 20px;
    text-align: center;
}

.icon{
    color :gold;
    position: absolute;
    top :8px;
    left:40px;
    transition: translate 0.5s;
    
}

.btn{
    height:30px;
    width:30px;
    background-color: rgb(209, 206, 207);
    border-radius: 50%;
    position: absolute;
    transition: translate 0.5s;
}

section.darkmode{
    background-color: rgb(27, 38, 37);
}

h1.darkmode{
    color: white;
}

.btn.darkmode{
    translate: 70px;
}

.icon.darkmode{
    translate: 10px;
}

.article.darkmode{
    color:rgb(255, 255, 255);
    background-color: rgb(68, 104, 106);
}

.switch.darkmode{
    background-color: rgb(40, 117, 106);
}
>>>>>>> 4fa2e52f0d68df7722984ddeb2f8ec9d1d13eba4
